<!-- Projects -->
<section class="bg-white mt-4 shadow px-4 py-6">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex items-center justify-center border border-gray-300 p-10 text-3xl font-bold text-gray-700">
            Achivements</div>
        <div class="border border-gray-300 p-6 flex flex-col items-center justify-center text-center">
            <button class="text-4xl text-blue-500">+</button>
            <p class="mt-4 font-semibold">Create a Achivement</p>
            <p class="text-gray-500 text-sm mt-2">Get feedback, views, and appreciations. Public projects can be
                featured by our curators.</p>
        </div>
    </div>
</section>