USE [TalentShowcasePlatformDB]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[AwardingOrganization] [nvarchar](255) NOT NULL,
	[DateReceived] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Awards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certifications]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certifications](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[IssuingAuthority] [nvarchar](255) NOT NULL,
	[IssueDate] [datetime2](7) NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Certifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentGroupPosts]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentGroupPosts](
	[Id] [uniqueidentifier] NOT NULL,
	[GroupPostId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ParentCommentId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CommentGroupPosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [uniqueidentifier] NOT NULL,
	[VideoId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContestEntries]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContestEntries](
	[Id] [uniqueidentifier] NOT NULL,
	[ContestId] [uniqueidentifier] NOT NULL,
	[VideoId] [uniqueidentifier] NOT NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
	[Votes] [int] NOT NULL,
 CONSTRAINT [PK_ContestEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contests]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contests](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Contests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Follows]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follows](
	[FollowingUserId] [uniqueidentifier] NOT NULL,
	[FollowedUserId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Follows] PRIMARY KEY CLUSTERED 
(
	[FollowingUserId] ASC,
	[FollowedUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMembers]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMembers](
	[GroupId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_GroupMembers] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupPostFeedbackSummary]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupPostFeedbackSummary](
	[Id] [uniqueidentifier] NOT NULL,
	[GroupPostId] [uniqueidentifier] NOT NULL,
	[TotalLikes] [int] NOT NULL,
	[TotalComments] [int] NOT NULL,
	[AverageRating] [float] NOT NULL,
	[TotalRatings] [int] NOT NULL,
 CONSTRAINT [PK_GroupPostFeedbackSummary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupPosts]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupPosts](
	[Id] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](1000) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastActivityDate] [datetime2](7) NULL,
	[ImgUrl] [nvarchar](255) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_GroupPosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[GroupAvatar] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[CompanyName] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NOT NULL,
	[AddressDetail] [nvarchar](255) NOT NULL,
	[Description] [text] NOT NULL,
	[Requirements] [text] NOT NULL,
	[Benefits] [text] NOT NULL,
	[JobType] [nvarchar](50) NOT NULL,
	[SalaryFrom] [decimal](18, 2) NULL,
	[SalaryTo] [decimal](18, 2) NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[ContactEmail] [nvarchar](255) NOT NULL,
	[ContactPhone] [nvarchar](20) NOT NULL,
	[PostedBy] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikeCommentGroupPost]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeCommentGroupPost](
	[Id] [uniqueidentifier] NOT NULL,
	[CommentGroupPostId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LikeCommentGroupPost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikeGroupPost]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeGroupPost](
	[Id] [uniqueidentifier] NOT NULL,
	[GroupPostId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LikeGroupPost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [uniqueidentifier] NOT NULL,
	[SenderId] [uniqueidentifier] NOT NULL,
	[ReceiverId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [uniqueidentifier] NOT NULL,
	[SenderId] [uniqueidentifier] NOT NULL,
	[ReceiverId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](10, 0) NOT NULL,
	[Message] [nvarchar](200) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[IsProcessed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RatingGroupPost]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RatingGroupPost](
	[Id] [uniqueidentifier] NOT NULL,
	[GroupPostId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Value] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RatingGroupPost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[Id] [uniqueidentifier] NOT NULL,
	[VideoId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Stars] [int] NOT NULL,
 CONSTRAINT [PK_Ratings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Bio] [nvarchar](1000) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[Location] [nvarchar](500) NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTalents]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTalents](
	[UserId] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[SkillLevel] [nvarchar](max) NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserTalents] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoLikes]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoLikes](
	[Id] [uniqueidentifier] NOT NULL,
	[VideoId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[LikedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VideoLikes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Videos]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videos](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Url] [nvarchar](500) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[IsPrivate] [bit] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Videos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Views]    Script Date: 5/21/2025 11:09:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Views](
	[Id] [uniqueidentifier] NOT NULL,
	[VideoId] [uniqueidentifier] NOT NULL,
	[ViewerId] [uniqueidentifier] NOT NULL,
	[ViewedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Views] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (N'53dfdffb-97ab-40de-b5c1-0b291f176f25', N'Modeling', N'Professional experience in posing for fashion, commercial, or artistic projects.')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (N'8335bfd7-3cdf-479f-84ed-15000c6db468', N'Public Speaking', N'Skill in delivering effective and engaging speeches or presentations to audiences.')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (N'dd33bedf-682b-4d3c-94a3-152485590d35', N'Music', N'Singing, instrumental, or musical performance talents')
GO
INSERT [dbo].[Certifications] ([Id], [UserId], [Title], [IssuingAuthority], [IssueDate], [ExpiryDate], [CreatedAt]) VALUES (N'578250b5-8171-488f-8fc6-35f89c2eb40d', N'051881a0-e4bb-4582-9fa3-e55252e33b01', N'Certified Illustrator', N'Art and Design Academy', CAST(N'2022-09-10T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-10T00:00:00.0000000' AS DateTime2), CAST(N'2025-04-27T08:00:24.9463796' AS DateTime2))
INSERT [dbo].[Certifications] ([Id], [UserId], [Title], [IssuingAuthority], [IssueDate], [ExpiryDate], [CreatedAt]) VALUES (N'65b2b7cd-c0a4-4434-bb4f-484e6d1fe5a2', N'f98f7e4a-3a8f-4222-a584-4903ec25dafa', N'Talent Acquisition Specialist', N'Human Resources Certification Institute', CAST(N'2023-02-20T00:00:00.0000000' AS DateTime2), CAST(N'2026-02-20T00:00:00.0000000' AS DateTime2), CAST(N'2025-04-27T07:57:28.7652583' AS DateTime2))
INSERT [dbo].[Certifications] ([Id], [UserId], [Title], [IssuingAuthority], [IssueDate], [ExpiryDate], [CreatedAt]) VALUES (N'5977d2c1-9883-401d-bff3-48fd2ab05095', N'ece55508-6390-46cc-ba76-d98d0fd5c69e', N'Professional Makeup Artist Certification', N'Beauty Professionals Association', CAST(N'2023-05-23T00:00:00.0000000' AS DateTime2), CAST(N'2026-05-23T00:00:00.0000000' AS DateTime2), CAST(N'2025-04-27T08:00:10.1109136' AS DateTime2))
GO
INSERT [dbo].[CommentGroupPosts] ([Id], [GroupPostId], [UserId], [Content], [CreatedAt], [ParentCommentId]) VALUES (N'fe783db8-fa46-4d19-8177-1fb1936c9ae3', N'61df1445-8ba8-4e2f-9f93-0269fef89314', N'a97fabf3-9a45-460d-8d76-31f2e818dae6', N'Interesting thoughts.', CAST(N'2025-05-19T20:22:33.5500000' AS DateTime2), NULL)
INSERT [dbo].[CommentGroupPosts] ([Id], [GroupPostId], [UserId], [Content], [CreatedAt], [ParentCommentId]) VALUES (N'b77df461-507c-4ac8-b50f-2231e36c04de', N'd87e1a4c-fe45-43b5-972b-0fd9bce7ee80', N'aaaa5a03-baae-4bf3-a569-fc1dd1d84576', N'Good work!', CAST(N'2025-05-19T20:22:33.5500000' AS DateTime2), NULL)
INSERT [dbo].[CommentGroupPosts] ([Id], [GroupPostId], [UserId], [Content], [CreatedAt], [ParentCommentId]) VALUES (N'afc23d79-42b9-48b7-a9a9-2b80d1b70cfb', N'61df1445-8ba8-4e2f-9f93-0269fef89314', N'14ccd736-a8e1-4834-a6b9-6f499b4b4437', N'Brilliant!', CAST(N'2025-05-19T20:22:33.5500000' AS DateTime2), NULL)
GO
INSERT [dbo].[Comments] ([Id], [VideoId], [UserId], [Content], [CreatedAt]) VALUES (N'89f83a5b-7c5d-4d10-8328-0001fdbe3c08', N'2c6a7e98-b434-4be0-aa25-115dd0dd065e', N'4a7d93eb-e30d-41ba-bf6b-5f501a90fc41', N'Great work!', CAST(N'2025-04-28T14:20:56.9100000' AS DateTime2))
INSERT [dbo].[Comments] ([Id], [VideoId], [UserId], [Content], [CreatedAt]) VALUES (N'f5a5e739-9e81-444e-afbb-0046091dfd6a', N'0fef77d4-1fff-4f00-ad89-48c534707e8f', N'aaaa5a03-baae-4bf3-a569-fc1dd1d84576', N'Impressive skills!', CAST(N'2025-04-28T14:20:56.9366667' AS DateTime2))
INSERT [dbo].[Comments] ([Id], [VideoId], [UserId], [Content], [CreatedAt]) VALUES (N'9694fafa-4e3a-41ff-9015-0118a8743712', N'7137a8c3-e9bd-4384-b485-f7d33800081c', N'a44cfb48-0be2-4ac3-a1d0-d69a473473e4', N'Outstanding job!', CAST(N'2025-04-28T14:20:56.9133333' AS DateTime2))
GO
INSERT [dbo].[GroupMembers] ([GroupId], [UserId], [JoinedAt], [Id]) VALUES (N'5c360dfc-29ea-4f54-b469-09c056f00344', N'd32de9ae-0157-4e88-8cbf-06632a049ef4', CAST(N'2025-04-28T08:03:55.3626269' AS DateTime2), N'9c8b0ce0-b100-4573-98de-674dbb008a47')
INSERT [dbo].[GroupMembers] ([GroupId], [UserId], [JoinedAt], [Id]) VALUES (N'5c360dfc-29ea-4f54-b469-09c056f00344', N'f98f7e4a-3a8f-4222-a584-4903ec25dafa', CAST(N'2025-04-28T08:03:55.3554571' AS DateTime2), N'3a3341e9-4648-4b52-b2e9-91b69ca0f2ae')
INSERT [dbo].[GroupMembers] ([GroupId], [UserId], [JoinedAt], [Id]) VALUES (N'5c360dfc-29ea-4f54-b469-09c056f00344', N'ca62c703-ba17-4a75-9de4-600a9cc13820', CAST(N'2025-04-28T08:03:55.3646813' AS DateTime2), N'977e436b-5f61-42fd-b1ce-60f7879b3257')
GO
INSERT [dbo].[Groups] ([Id], [Name], [Description], [CategoryId], [CreatedBy], [CreatedAt], [GroupAvatar]) VALUES (N'5c360dfc-29ea-4f54-b469-09c056f00344', N'Creative Artists', N'A group for sharing and promoting artistic creations.', N'c4399c89-55ea-4e9a-a51f-5f6546b08bbb', N'd32de9ae-0157-4e88-8cbf-06632a049ef4', CAST(N'2025-04-28T07:38:13.5540587' AS DateTime2), N'')
INSERT [dbo].[Groups] ([Id], [Name], [Description], [CategoryId], [CreatedBy], [CreatedAt], [GroupAvatar]) VALUES (N'60044bd0-385f-45e7-b5ec-10e0cfaebb54', N'Video Editors Network', N'Learning and growing editing skills together.', N'fb35d279-477e-4be0-b86e-82b7f9c36335', N'077d6986-18c2-44a7-8a77-76e3e5285ad1', CAST(N'2025-04-28T07:38:13.5540773' AS DateTime2), N'')
INSERT [dbo].[Groups] ([Id], [Name], [Description], [CategoryId], [CreatedBy], [CreatedAt], [GroupAvatar]) VALUES (N'b87cab93-4426-427d-aef2-1896da5f54e5', N'Creative Workshops', N'Workshops and learning sessions across all talents.', N'8335bfd7-3cdf-479f-84ed-15000c6db468', N'14ccd736-a8e1-4834-a6b9-6f499b4b4437', CAST(N'2025-04-28T07:38:13.5540795' AS DateTime2), N'')
GO
INSERT [dbo].[LikeGroupPost] ([Id], [GroupPostId], [UserId], [CreatedAt]) VALUES (N'2454918e-c7ab-4ed8-926c-0162421da659', N'e44d8da6-8313-4d39-86fc-2e806981eef5', N'077d6986-18c2-44a7-8a77-76e3e5285ad1', CAST(N'2025-01-08T20:35:47.7733333' AS DateTime2))
INSERT [dbo].[LikeGroupPost] ([Id], [GroupPostId], [UserId], [CreatedAt]) VALUES (N'c78795b1-27d0-49ce-851a-08cc64bec2d7', N'3c468c6c-f722-4f73-9f09-8e8e5d01b20b', N'14ccd736-a8e1-4834-a6b9-6f499b4b4437', CAST(N'2025-04-13T20:35:47.7733333' AS DateTime2))
INSERT [dbo].[LikeGroupPost] ([Id], [GroupPostId], [UserId], [CreatedAt]) VALUES (N'7e579121-e365-4513-a23a-0d24847a6ded', N'c292aa47-d956-4176-b46c-573cf0f7dd2c', N'aaaa5a03-baae-4bf3-a569-fc1dd1d84576', CAST(N'2024-11-29T20:35:47.7733333' AS DateTime2))
GO
INSERT [dbo].[Messages] ([Id], [SenderId], [ReceiverId], [Content], [SentAt]) VALUES (N'25e87051-1948-4cbf-aaab-00c28a23033b', N'd32de9ae-0157-4e88-8cbf-06632a049ef4', N'a44cfb48-0be2-4ac3-a1d0-d69a473473e4', N'Hey, how are you?', CAST(N'2025-04-28T12:01:55.0000000' AS DateTime2))
INSERT [dbo].[Messages] ([Id], [SenderId], [ReceiverId], [Content], [SentAt]) VALUES (N'964cf94f-e763-4d20-a578-00d15a45505e', N'd32de9ae-0157-4e88-8cbf-06632a049ef4', N'af1bf63f-fb39-4e1d-b2af-c47df1919e40', N'What are you up to today?', CAST(N'2025-04-28T09:20:20.0000000' AS DateTime2))
INSERT [dbo].[Messages] ([Id], [SenderId], [ReceiverId], [Content], [SentAt]) VALUES (N'09229daf-26a2-424a-b73e-0256f3867aa7', N'a44cfb48-0be2-4ac3-a1d0-d69a473473e4', N'd32de9ae-0157-4e88-8cbf-06632a049ef4', N'Let’s catch up soon.', CAST(N'2025-04-28T13:11:13.0000000' AS DateTime2))
GO
INSERT [dbo].[Notifications] ([Id], [UserId], [Message], [IsRead], [CreatedAt]) VALUES (N'9006f6fd-4a6e-4b28-bed2-00ad41858360', N'5740fb2c-7957-4fd1-a40c-893e9bd27755', N'Hệ thống đã cập nhật chính sách mới.', 0, CAST(N'2025-04-28T14:24:54.1403553' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [UserId], [Message], [IsRead], [CreatedAt]) VALUES (N'b265f0a9-b5d4-4e47-b6b3-0101bb883e93', N'a44cfb48-0be2-4ac3-a1d0-d69a473473e4', N'Thông báo: Hôm nay bạn nhận được 3 lượt thích mới.', 0, CAST(N'2025-04-28T14:24:54.1403625' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [UserId], [Message], [IsRead], [CreatedAt]) VALUES (N'fd868352-b8f8-4ecc-bc61-0498d16b623a', N'ca62c703-ba17-4a75-9de4-600a9cc13820', N'Bạn có lời mời tham gia sự kiện.', 0, CAST(N'2025-04-28T14:24:54.1403402' AS DateTime2))
GO
INSERT [dbo].[Ratings] ([Id], [VideoId], [UserId], [Stars]) VALUES (N'5d921c39-9e04-4069-8b9d-0045c6dd1d33', N'4aabe735-4506-4d42-bb42-34b9232dc572', N'4a7d93eb-e30d-41ba-bf6b-5f501a90fc41', 1)
INSERT [dbo].[Ratings] ([Id], [VideoId], [UserId], [Stars]) VALUES (N'31438e3a-3b0c-4e11-9373-0407c662546e', N'0253bc26-6940-488c-b6d4-32c24ba7e169', N'ca62c703-ba17-4a75-9de4-600a9cc13820', 4)
INSERT [dbo].[Ratings] ([Id], [VideoId], [UserId], [Stars]) VALUES (N'9a279d50-ec5b-49a9-aa71-0514ac0e1982', N'0253bc26-6940-488c-b6d4-32c24ba7e169', N'077d6986-18c2-44a7-8a77-76e3e5285ad1', 5)
GO
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'a4e55e69-db3f-471e-8c9d-1193b674becb', N'Recruiter')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'45e8df74-1a79-4869-a6a2-2b0827f2c781', N'Talent')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'b76cb70b-0ac9-4e01-a069-92c859188976', N'Admin')
GO
INSERT [dbo].[Users] ([Id], [UserName], [FullName], [Email], [PasswordHash], [Bio], [AvatarUrl], [Location], [RoleId], [CreatedAt]) VALUES (N'd32de9ae-0157-4e88-8cbf-06632a049ef4', N'Test Anh 1', N'Anh1', N'test.anh1@gmail.com', N'AQAAAAIAAYagAAAAEP/0EKxRl5lk/i9v4KE3BHF+fpThY1Vt6QHxQeVIqQoDio1r/uDdT5IZk93A/W2DpQ==', N'Bio', N'd32de9ae-0157-4e88-8cbf-06632a049ef4.jpg', N'Nam Định', N'45e8df74-1a79-4869-a6a2-2b0827f2c781', CAST(N'2025-04-25T09:56:29.1385713' AS DateTime2))
INSERT [dbo].[Users] ([Id], [UserName], [FullName], [Email], [PasswordHash], [Bio], [AvatarUrl], [Location], [RoleId], [CreatedAt]) VALUES (N'a97fabf3-9a45-460d-8d76-31f2e818dae6', N'user7', NULL, N'user7@example.com', N'AQAAAAIAAYagAAAAEII7hTxEfgsrJ2T8OgXES9oUsKl8w7mCcCKfmH9l7NFJtoZVsPRrOO9+/GuIZhrW0g==', N'Bio of user 7', N'avatar7.jpg', NULL, N'45e8df74-1a79-4869-a6a2-2b0827f2c781', CAST(N'2025-04-27T13:56:55.6100000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [UserName], [FullName], [Email], [PasswordHash], [Bio], [AvatarUrl], [Location], [RoleId], [CreatedAt]) VALUES (N'e940c419-0dac-4b81-a5a6-3edeeae9f22f', N'user3', NULL, N'user3@example.com', N'AQAAAAIAAYagAAAAEHZ3cPXfamZDvX82Sn29qqzTbecHVJeKwspuKcK+jLMtXE5Esg9JKHukxjscry9FKw==', N'Bio of user 3', N'avatar3.jpg', NULL, N'45e8df74-1a79-4869-a6a2-2b0827f2c781', CAST(N'2025-04-27T13:56:28.2366667' AS DateTime2))
GO
INSERT [dbo].[UserTalents] ([UserId], [CategoryId], [SkillLevel], [Id]) VALUES (N'd32de9ae-0157-4e88-8cbf-06632a049ef4', N'53dfdffb-97ab-40de-b5c1-0b291f176f25', N'Beginner', N'fc4cec40-290c-4956-97f0-0b12eb164bd5')
INSERT [dbo].[UserTalents] ([UserId], [CategoryId], [SkillLevel], [Id]) VALUES (N'd32de9ae-0157-4e88-8cbf-06632a049ef4', N'86fd9ce9-1e44-46a6-9e4e-c83a2158521c', N'Beginner', N'e1e9bf76-e025-4909-b77d-b43179c38644')
INSERT [dbo].[UserTalents] ([UserId], [CategoryId], [SkillLevel], [Id]) VALUES (N'a97fabf3-9a45-460d-8d76-31f2e818dae6', N'6c1b7d34-da84-4ce7-bbe6-9e2ccb0a3a0e', N'Beginner', N'0afec30a-8c13-4e1e-a925-d61fc952ed25')
GO
INSERT [dbo].[VideoLikes] ([Id], [VideoId], [UserId], [LikedAt]) VALUES (N'8334e3fe-9dd7-4c28-91ce-07218257891d', N'5f7bed52-e387-4bf2-829b-370d3cf6596e', N'aaaa5a03-baae-4bf3-a569-fc1dd1d84576', CAST(N'2025-04-28T15:30:33.0000000' AS DateTime2))
INSERT [dbo].[VideoLikes] ([Id], [VideoId], [UserId], [LikedAt]) VALUES (N'aac2ee22-10f8-46b5-b699-0845e15ff893', N'2c6a7e98-b434-4be0-aa25-115dd0dd065e', N'6c9ea298-23b2-403e-b34c-89219501f06e', CAST(N'2025-04-28T09:59:29.0000000' AS DateTime2))
INSERT [dbo].[VideoLikes] ([Id], [VideoId], [UserId], [LikedAt]) VALUES (N'93a08c3b-c329-43b7-8e4f-0d2bf60e743f', N'4aabe735-4506-4d42-bb42-34b9232dc572', N'a44cfb48-0be2-4ac3-a1d0-d69a473473e4', CAST(N'2025-04-28T15:04:01.0000000' AS DateTime2))
GO
INSERT [dbo].[Videos] ([Id], [Title], [Description], [Url], [UserId], [CategoryId], [IsPrivate], [UploadedAt]) VALUES (N'31ba87dc-f56b-43e0-97ce-0ac758a0dcc0', N'Sample Video 4 by user1', N'This is a sample video 4 uploaded by user1.', N'sampe4.mp4', N'd32de9ae-0157-4e88-8cbf-06632a049ef4', N'53dfdffb-97ab-40de-b5c1-0b291f176f25', 1, CAST(N'2025-04-27T16:11:31.4228992' AS DateTime2))
INSERT [dbo].[Videos] ([Id], [Title], [Description], [Url], [UserId], [CategoryId], [IsPrivate], [UploadedAt]) VALUES (N'2c6a7e98-b434-4be0-aa25-115dd0dd065e', N'Sample Video 2 by user11', N'This is a sample video 2 uploaded by user11.', N'sampe41.mp4', N'6c9ea298-23b2-403e-b34c-89219501f06e', N'fb35d279-477e-4be0-b86e-82b7f9c36335', 0, CAST(N'2025-04-27T16:11:31.4229120' AS DateTime2))
INSERT [dbo].[Videos] ([Id], [Title], [Description], [Url], [UserId], [CategoryId], [IsPrivate], [UploadedAt]) VALUES (N'3943436b-7677-4e56-9c96-197f129ca4b2', N'Sample Video 3 by user9', N'This is a sample video 3 uploaded by user9.', N'sampe34.mp4', N'14ccd736-a8e1-4834-a6b9-6f499b4b4437', N'dc2e6424-a51b-4653-975c-554fde1a82dc', 0, CAST(N'2025-04-27T16:11:31.4229095' AS DateTime2))
GO
ALTER TABLE [dbo].[Awards] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Awards] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Certifications] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Certifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ContestEntries] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ContestEntries] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Contests] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Follows] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT (getdate()) FOR [JoinedAt]
GO
ALTER TABLE [dbo].[GroupPostFeedbackSummary] ADD  DEFAULT ((0)) FOR [TotalLikes]
GO
ALTER TABLE [dbo].[GroupPostFeedbackSummary] ADD  DEFAULT ((0)) FOR [TotalComments]
GO
ALTER TABLE [dbo].[GroupPostFeedbackSummary] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [AverageRating]
GO
ALTER TABLE [dbo].[GroupPostFeedbackSummary] ADD  DEFAULT ((0)) FOR [TotalRatings]
GO
ALTER TABLE [dbo].[GroupPosts] ADD  CONSTRAINT [DF__GroupPost__Title__2DE6D218]  DEFAULT (N'') FOR [Title]
GO
ALTER TABLE [dbo].[GroupPosts] ADD  CONSTRAINT [DF__GroupPost__Creat__0A9D95DB]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT (N'') FOR [GroupAvatar]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LikeCommentGroupPost] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LikeGroupPost] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RatingGroupPost] ADD  DEFAULT ((0)) FOR [Value]
GO
ALTER TABLE [dbo].[RatingGroupPost] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Ratings] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VideoLikes] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[VideoLikes] ADD  DEFAULT (getdate()) FOR [LikedAt]
GO
ALTER TABLE [dbo].[Videos] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Videos] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Views] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Views] ADD  DEFAULT (getdate()) FOR [ViewedAt]
GO
ALTER TABLE [dbo].[Awards]  WITH CHECK ADD  CONSTRAINT [FK_Awards_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Awards] CHECK CONSTRAINT [FK_Awards_Users_UserId]
GO
ALTER TABLE [dbo].[Certifications]  WITH CHECK ADD  CONSTRAINT [FK_Certifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Certifications] CHECK CONSTRAINT [FK_Certifications_Users_UserId]
GO
ALTER TABLE [dbo].[CommentGroupPosts]  WITH CHECK ADD  CONSTRAINT [FK_CommentGroupPosts_CommentGroupPosts_ParentCommentId] FOREIGN KEY([ParentCommentId])
REFERENCES [dbo].[CommentGroupPosts] ([Id])
GO
ALTER TABLE [dbo].[CommentGroupPosts] CHECK CONSTRAINT [FK_CommentGroupPosts_CommentGroupPosts_ParentCommentId]
GO
ALTER TABLE [dbo].[CommentGroupPosts]  WITH CHECK ADD  CONSTRAINT [FK_CommentGroupPosts_GroupPosts_GroupPostId] FOREIGN KEY([GroupPostId])
REFERENCES [dbo].[GroupPosts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentGroupPosts] CHECK CONSTRAINT [FK_CommentGroupPosts_GroupPosts_GroupPostId]
GO
ALTER TABLE [dbo].[CommentGroupPosts]  WITH CHECK ADD  CONSTRAINT [FK_CommentGroupPosts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CommentGroupPosts] CHECK CONSTRAINT [FK_CommentGroupPosts_Users_UserId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_UserId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Videos_VideoId] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Videos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Videos_VideoId]
GO
ALTER TABLE [dbo].[ContestEntries]  WITH CHECK ADD  CONSTRAINT [FK_ContestEntries_Contests_ContestId] FOREIGN KEY([ContestId])
REFERENCES [dbo].[Contests] ([Id])
GO
ALTER TABLE [dbo].[ContestEntries] CHECK CONSTRAINT [FK_ContestEntries_Contests_ContestId]
GO
ALTER TABLE [dbo].[ContestEntries]  WITH CHECK ADD  CONSTRAINT [FK_ContestEntries_Videos_VideoId] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Videos] ([Id])
GO
ALTER TABLE [dbo].[ContestEntries] CHECK CONSTRAINT [FK_ContestEntries_Videos_VideoId]
GO
ALTER TABLE [dbo].[Contests]  WITH CHECK ADD  CONSTRAINT [FK_Contests_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Contests] CHECK CONSTRAINT [FK_Contests_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Contests]  WITH CHECK ADD  CONSTRAINT [FK_Contests_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Contests] CHECK CONSTRAINT [FK_Contests_Users_UserId]
GO
ALTER TABLE [dbo].[Follows]  WITH CHECK ADD  CONSTRAINT [FK_Follows_Users_FollowedUserId] FOREIGN KEY([FollowedUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Follows] CHECK CONSTRAINT [FK_Follows_Users_FollowedUserId]
GO
ALTER TABLE [dbo].[Follows]  WITH CHECK ADD  CONSTRAINT [FK_Follows_Users_FollowingUserId] FOREIGN KEY([FollowingUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Follows] CHECK CONSTRAINT [FK_Follows_Users_FollowingUserId]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupMembers_Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GroupMembers_Groups_GroupId]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupMembers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GroupMembers_Users_UserId]
GO
ALTER TABLE [dbo].[GroupPostFeedbackSummary]  WITH CHECK ADD  CONSTRAINT [FK_GroupPostFeedbackSummary_GroupPosts_GroupPostId] FOREIGN KEY([GroupPostId])
REFERENCES [dbo].[GroupPosts] ([Id])
GO
ALTER TABLE [dbo].[GroupPostFeedbackSummary] CHECK CONSTRAINT [FK_GroupPostFeedbackSummary_GroupPosts_GroupPostId]
GO
ALTER TABLE [dbo].[GroupPosts]  WITH CHECK ADD  CONSTRAINT [FK_GroupPosts_Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupPosts] CHECK CONSTRAINT [FK_GroupPosts_Groups_GroupId]
GO
ALTER TABLE [dbo].[GroupPosts]  WITH CHECK ADD  CONSTRAINT [FK_GroupPosts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupPosts] CHECK CONSTRAINT [FK_GroupPosts_Users_UserId]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Users_PostedBy] FOREIGN KEY([PostedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Users_PostedBy]
GO
ALTER TABLE [dbo].[LikeCommentGroupPost]  WITH CHECK ADD  CONSTRAINT [FK_LikeCommentGroupPost_CommentGroupPosts_CommentGroupPostId] FOREIGN KEY([CommentGroupPostId])
REFERENCES [dbo].[CommentGroupPosts] ([Id])
GO
ALTER TABLE [dbo].[LikeCommentGroupPost] CHECK CONSTRAINT [FK_LikeCommentGroupPost_CommentGroupPosts_CommentGroupPostId]
GO
ALTER TABLE [dbo].[LikeCommentGroupPost]  WITH CHECK ADD  CONSTRAINT [FK_LikeCommentGroupPost_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LikeCommentGroupPost] CHECK CONSTRAINT [FK_LikeCommentGroupPost_Users_UserId]
GO
ALTER TABLE [dbo].[LikeGroupPost]  WITH CHECK ADD  CONSTRAINT [FK_LikeGroupPost_GroupPosts_GroupPostId] FOREIGN KEY([GroupPostId])
REFERENCES [dbo].[GroupPosts] ([Id])
GO
ALTER TABLE [dbo].[LikeGroupPost] CHECK CONSTRAINT [FK_LikeGroupPost_GroupPosts_GroupPostId]
GO
ALTER TABLE [dbo].[LikeGroupPost]  WITH CHECK ADD  CONSTRAINT [FK_LikeGroupPost_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LikeGroupPost] CHECK CONSTRAINT [FK_LikeGroupPost_Users_UserId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users_ReceiverId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users_SenderId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users_ReceiverId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users_SenderId]
GO
ALTER TABLE [dbo].[RatingGroupPost]  WITH CHECK ADD  CONSTRAINT [FK_RatingGroupPost_GroupPosts_GroupPostId] FOREIGN KEY([GroupPostId])
REFERENCES [dbo].[GroupPosts] ([Id])
GO
ALTER TABLE [dbo].[RatingGroupPost] CHECK CONSTRAINT [FK_RatingGroupPost_GroupPosts_GroupPostId]
GO
ALTER TABLE [dbo].[RatingGroupPost]  WITH CHECK ADD  CONSTRAINT [FK_RatingGroupPost_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RatingGroupPost] CHECK CONSTRAINT [FK_RatingGroupPost_Users_UserId]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Users_UserId]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Videos_VideoId] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Videos] ([Id])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Videos_VideoId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserTalents]  WITH CHECK ADD  CONSTRAINT [FK_UserTalents_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[UserTalents] CHECK CONSTRAINT [FK_UserTalents_Categories_CategoryId]
GO
ALTER TABLE [dbo].[UserTalents]  WITH CHECK ADD  CONSTRAINT [FK_UserTalents_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserTalents] CHECK CONSTRAINT [FK_UserTalents_Users_UserId]
GO
ALTER TABLE [dbo].[VideoLikes]  WITH CHECK ADD  CONSTRAINT [FK_VideoLikes_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VideoLikes] CHECK CONSTRAINT [FK_VideoLikes_Users_UserId]
GO
ALTER TABLE [dbo].[VideoLikes]  WITH CHECK ADD  CONSTRAINT [FK_VideoLikes_Videos_VideoId] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Videos] ([Id])
GO
ALTER TABLE [dbo].[VideoLikes] CHECK CONSTRAINT [FK_VideoLikes_Videos_VideoId]
GO
ALTER TABLE [dbo].[Videos]  WITH CHECK ADD  CONSTRAINT [FK_Videos_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Videos] CHECK CONSTRAINT [FK_Videos_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Videos]  WITH CHECK ADD  CONSTRAINT [FK_Videos_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Videos] CHECK CONSTRAINT [FK_Videos_Users_UserId]
GO
ALTER TABLE [dbo].[Views]  WITH CHECK ADD  CONSTRAINT [FK_Views_Users_ViewerId] FOREIGN KEY([ViewerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Views] CHECK CONSTRAINT [FK_Views_Users_ViewerId]
GO
ALTER TABLE [dbo].[Views]  WITH CHECK ADD  CONSTRAINT [FK_Views_Videos_VideoId] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Videos] ([Id])
GO
ALTER TABLE [dbo].[Views] CHECK CONSTRAINT [FK_Views_Videos_VideoId]
GO
