<aside id="sidebar"
  class="fixed inset-y-0 w-60  border-r border-[#d6dcd4] px-6 py-8 text-sm text-[#0f0f0f] transform -translate-x-full md:translate-x-0 md:flex md:flex-col md:justify-between">
  <div class="mb-10">
    <a href="/home"
      class="font-black italic text-3xl select-text cursor-default whitespace-nowrap hover:cursor-pointer">
      Talent
    </a>
  </div>
  <nav class="flex flex-col space-y-4">
    <a href="/home" aria-current="page"
      class="flex items-center gap-3 bg-[#d9dee4] rounded-lg px-4 py-3 w-full font-semibold text-sm">
      <i class="fas fa-home text-lg">
      </i>
      Home
    </a>
    <a [routerLink]="['/library']" [queryParams]="{ id: userId }"
      class="flex items-center gap-3 text-sm font-normal hover:bg-[#d9dee4] rounded-lg px-4 py-3 w-full">
      <i class="fas fa-th-large text-lg">
      </i>
      Library
    </a>
    <a  [routerLink]="['/community']"  class="flex items-center gap-3 text-sm font-normal hover:bg-[#d9dee4] rounded-lg px-4 py-3 w-full">
      <i class="fas fa-video text-lg">
      </i>
      Community
    </a>
    <button class="flex items-center gap-3 text-sm font-normal hover:bg-[#d9dee4] rounded-lg px-4 py-3 w-full">
      <i class="fas fa-columns text-lg">
      </i>
      Showcases
    </button>
    <!-- <button class="flex items-center gap-3 text-sm font-normal hover:bg-[#d9dee4] rounded-lg px-4 py-3 w-full">
      <i class="fas fa-chart-bar text-lg">
      </i>
      Analytics
    </button> -->
  </nav>
  <div class="mt-10 border-t border-[#cbd2db] pt-4">

  </div>
  <button class="flex items-center gap-3 mt-10 text-sm font-normal hover:bg-[#d9dee4] rounded-lg px-4 py-3 w-full">
    <img alt="SP logo icon" class="w-5 h-5" height="20"
      src="https://storage.googleapis.com/a1aa/image/2b7a12a5-c944-4189-b4b0-dc4e1ce98b8b.jpg" width="20" />
    Watch
  </button>
</aside>