<!-- <div *ngIf="!videoData">Đang tải thông tin video...</div> -->
<div class="relative rounded-md overflow-hidden flex-shrink-0 md:block md:w-full">
  <video #target class="video-js vjs-default-skin" muted autoplay playsinline preload="auto" disablePictureInPicture
    controlsList="nodownload nofullscreen noremoteplayback" width="100%" height="auto" [attr.data-setup]="{}">
    <source [src]="videoPath + src" type="video/mp4" 
    (loadedmetadata)="onLoadedMetadata($event, videoData)"/>
  </video>
  <span class="absolute bottom-1 right-1 bg-black bg-opacity-70 text-white text-[10px] px-1 rounded select-none">
    {{ videoData.duration || 'Loading...' }}
  </span>
</div>