<!-- <div *ngIf="!videoData">Đang tải thông tin video...</div> -->
<video #target class="video-js vjs-default-skin" muted autoplay playsinline
  preload="auto" disablePictureInPicture controlsList="nodownload nofullscreen noremoteplayback" width="100%"
 height="auto" [attr.data-setup]="{}" >
  <source [src]="videoPath + src" type="video/mp4" />
</video>

<!-- muted autoplay playsinline: Cho phép tự động phát trên hầu hết trình duyệt.
controlsList="nodownload...": Ẩn các chức năng không mong muốn (tùy trình duyệt).
pointer-events-none trên video: Ngăn người dùng tương tác. -->